[tool.pylint.master]

output-format = "colorized"
disable = ["E1123", "E1120"]

[tool.pytest.ini_options]
testpaths = ['tests/']
markers = ["qpu: mark tests that require qpu"]
addopts = [
  '--cov=qibolab',
  '--cov-report=xml',
  '--cov-report=html',
  '-m not qpu',
]
