# CI workflow that runs on qpu
name: Tests with qpu

on: [push]

jobs:
  prepare:
    # if: contains(github.event.pull_request.labels.*.name, 'run-on-tii1q') ||
    #     contains(github.event.pull_request.labels.*.name, 'run-on-tii5q')
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        run: echo matrix="{\"platform\":[tii1q,tii5q]}" >> $GITHUB_OUTPUT
  build:
    needs: prepare
    strategy:
      matrix: ${{fromJSON(needs.prepare.outputs.matrix)}}
    runs-on: self-hosted
    steps:
    - name: Cleanup workspace manually
      run: |
        rm -rf _work/*
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install package
      shell: bash -l {0}
      run: |
        conda create --prefix=testenv python=${{ matrix.python-version }}
        conda activate ./testenv
        python -m pip install --upgrade pip
        pip install pytest
        pip install git+https://github.com/qiboteam/qibo
        pip install .[tiiq]
    # - name: Test tii5q
    #   if: contains(github.event.pull_request.labels.*.name, 'run-on-tii5q')
    #   run: |
    #     srun -p qpu5q pytest src/qibolab --pyargs qibolab -m qpu --platforms tii5q -rx
    # - name: Test tii1q
    #   if: contains(github.event.pull_request.labels.*.name, 'run-on-tii1q')
    #   run: |
    #     srun -p qpu1q pytest src/qibolab --pyargs qibolab -m qpu --platforms tii1q -rx
