# CI workflow that runs on qpu
name: Tests with qpu

on:
  pull_request:
    types: [labeled]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  prepare:
    if: contains(join(github.event.pull_request.labels.*.name), 'run-on')
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - id: set-matrix
        env:
          LABELS: ${{ toJSON(github.event.pull_request.labels.*.name) }}
        run: |
          platforms="{\"platform\":["
          combined=""
          shopt -s lastpipe
          jq -c '.[]' <<< "$LABELS" | while read label; do
              platform=(${label//-/ })
              if [ ${platform[0]} == "\"run" ] && [ ${platform[1]} == "on" ]; then
                platforms="${platforms}${combined:+,}\"${platform[2]}"
                combined=${platforms}
              fi
          done
          platforms+="]}"
          echo ${platforms}
          echo matrix="${platforms}" >> $GITHUB_OUTPUT
  build:
    needs: prepare
    strategy:
      matrix: ${{fromJSON(needs.prepare.outputs.matrix)}}
      fail-fast: false
    runs-on: self-hosted
    steps:
    - name: Cleanup workspace manually
      run: |
        rm -rf _work/*
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install package
      shell: bash -l {0}
      run: |
        conda create --prefix=testenv python=${{ matrix.python-version }}
        conda activate ./testenv
        python -m pip install --upgrade pip
        pip install pytest
        pip install git+https://github.com/qiboteam/qibo
        pip install .[tiiq]
    - name: Test ${{ matrix.platform }}
      run: |
        # create slurm script
        echo \#\!/bin/bash >> spytest
        echo >> spytest
        echo "cd /tmp/" >> spytest
        platform=${{ matrix.platform }}
        echo "pytest ~/qibolab/src/qibolab --pyargs qibolab --platform $platform --cov=qibolab --cov-report=xml -rx" >> spytest
        echo "mv coverage.xml ~/qibolab" >> spytest
        # execute script in the queue
        chmod +x spytest
        cat spytest
        srun -p ${{ matrix.platform }} spytest
        # cleanup
        rm spytest
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: true
